td {
  border: 1px solid black;
  border-spacing: 0;
  border-bottom: none;
  height: 160px;
  width: 160px;
  text-align: center;
  font-size: 4em;
}

tr{
  border-top: none;
}

table#board {
  width: 500px;
  height: 500px;
  padding-bottom: 20px;
}


